body {
	background-image: url(uploads/firestairs.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #6b6b6b;

    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

/* contact info protection */
a.reverse {
  unicode-bidi: bidi-override;
  direction: rtl;
}

/* archive */
.whiteback {
	background-color:white;
}

.itda {
	font-style: italic
}